@charset "UTF-8";
/* CSS Document */
/*Colors used:
#FFFFFF black
#000000 white
#286484 navy blue
#81C0EA sea blue
#9ED6E5 light blue
#C4E6F2 light light blue
(also see brandbook for color examples)
*/
body {
  font-family: "Lato", sans-serif;
  background-color: #9ed6e5;
}

h1,h2,h3 {
  text-transform: uppercase;
  color: black;
}

.logo {
  background-color: #9ed6e5;
}

.logo img {
  width: 100px;
}

nav {
  background: #9ed6e5;
  font-weight: bold;
}

.nav-link {
  color: black;
}
.nav-link:hover {
  color: #286484;
}

.navbar-brand {
  color: black;
}

.navbar-brand:hover {
  color: #81c0ea;
}

.navbar-toggler-icon {
  background-image: url("../images/dropdownmenu.png");
}
.btn {
	margin: 0 auto;
	display: block;
}
.btn-outline-success {
  color: black;
  border-color: #286484;
}
.btn-primary {
  color: black;
  background-color: #9ed6e5;
  border-color: black;
}
.footer {
  background: #81C0EA;
  background: #9ed6e5;
  padding: 10px 0;
}

.social-icons {
  text-align: center;
}
.social-icons li {
  display: inline-block;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.social-icons li a {
  border-bottom: none;
}
.social-icons li img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.instagramicon img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.card-title {
  color: black;
}
.card-text {
  color: black;
}
.bg-dark {
  background-color: transparent !important;
}
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.my-container-blogpost1 {
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	margin: 30px;
}
.jumbotron {
	 text-align: center;
	background-color: #C4E6F2
}
.display-4 {
	font-size:35px;
	font-weight: bold
}
.page-section {
	background-color: #C4E6F2;
}
#portfolio .container-fluid, #portfolio .container-sm, #portfolio .container-md, #portfolio .container-lg, #portfolio .container-xl {
  max-width: 1920px;
}
#portfolio .container-fluid .portfolio-box, #portfolio .container-sm .portfolio-box, #portfolio .container-md .portfolio-box, #portfolio .container-lg .portfolio-box, #portfolio .container-xl .portfolio-box {
  position: relative;
  display: block;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption, #portfolio .container-sm .portfolio-box .portfolio-box-caption, #portfolio .container-md .portfolio-box .portfolio-box-caption, #portfolio .container-lg .portfolio-box .portfolio-box-caption, #portfolio .container-xl .portfolio-box .portfolio-box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #FFFFFF;
  background: #286484;
  transition: opacity 0.25s ease;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-category {
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-name {
  font-size: 1.2rem;
}
#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption, #portfolio .container-sm .portfolio-box:hover .portfolio-box-caption, #portfolio .container-md .portfolio-box:hover .portfolio-box-caption, #portfolio .container-lg .portfolio-box:hover .portfolio-box-caption, #portfolio .container-xl .portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
.featurette-image {
	width: auto;
	height: 450px;
}
.changecolor {
	background: #C4E6F2;
}
.lead {
	font-size: 20px;
}
.bg-light {
background-color:#C4E6F2;

}
.lead {
  margin-left: 15px;
}
.featurette-heading {
  margin-left: 15px;}