@charset "UTF-8";
/* CSS Document */
/*Colors used:
#FFFFFF black
#000000 white
#286484 navy blue
#81C0EA sea blue
#9ED6E5 light blue
#C4E6F2 light light blue
(also see brandbook for color examples)
*/
body {
	font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
	text-transform: uppercase;
	color: black;
}

.logo {
}

.logo img{
	width: 250px;
}

nav {
	background: #9ED6E5
}

.nav-link {
	color: black;
}
.nav-link:hover {
	color: #286484;
}

.navbar-brand {
	color: black;
}

.navbar-brand:hover {
	color: #81C0EA;
}

.navbar-toggler-icon {
	background-image:url("../images/dropdownmenu.png")
}
.btn-outline-success {
	color: black;
	border-color: #286484;
	
}
.btn-primary {
	color: black;
	background-color: #9ED6E5;
	border-color: black;
}
