@charset "UTF-8";
/* CSS Document */
/*Colors used:
#FFFFFF black
#000000 white
#286484 navy blue
#81C0EA sea blue
#9ED6E5 light blue
#C4E6F2 light light blue
(also see brandbook for color examples)
*/
body {
  font-family: "Lato", sans-serif;
  background-color: #9ed6e5;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  color: black;
}

.logo {
  background-color: #9ed6e5;
}

.logo img {
  width: 100px;
}

nav {
  background: #9ed6e5;
  font-weight: bold;
}

.nav-link {
  color: black;
}
.nav-link:hover {
  color: #286484;
}

.navbar-brand {
  color: black;
}

.navbar-brand:hover {
  color: #81c0ea;
}

.navbar-toggler-icon {
  background-image: url("../images/dropdownmenu.png");
}
.btn-outline-success {
  color: black;
  border-color: #286484;
}
.btn-primary {
  color: black;
  background-color: #9ed6e5;
  border-color: black;
}
.footer {
  background: #9ed6e5;
  padding: 10px 0;
}

.social-icons {
  text-align: center;
}
.social-icons li {
  display: inline-block;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.social-icons li a {
  border-bottom: none;
}
.social-icons li img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.instagramicon img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.card-title {
  color: black;
}
.card-text {
  color: black;
}
.bg-dark {
  background-color: transparent !important;
}
